:host{
    width: 100%;
    height: 100%;
    display: flex;
    flex: 1 1 auto;
    align-items: stretch;
    flex-direction: column;
}

div.input {
    display: flex;
}

@media screen and (min-width: 1200px) {
    /* STYLES HERE */
    div.box{
        display: flex;
        flex-direction: row;
    }
    div.input{
        flex: 0 0 24px;
    }
}

@media screen and (min-width: 800px) and (max-width: 1200px) { 
    /* STYLES HERE */
    div.box{
        display: flex;
        flex-direction: column;
    }
    div.input{
        flex: 0 0 46px;
    }
}

@media screen and (min-width: 480px) and (max-width: 800px) { 
    /* STYLES HERE */
    div.box{
        display: flex;
        flex-direction: column;
    }
    div.input{
        flex: 0 0 46px;
    }
}


div[google-map]{
    display: flex;
    flex: 1 1 auto;
}